body{
  background-color: black;
  font-family: 'Franklin Gothic', sans-serif;
  color: white;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 33px;
}

.x{
  position: absolute;
  top: 63%;
  left: 36.5%;
}

.f{
  position: absolute;
  top: 73.5%;
  left: 38.5%;
}

button{
  position: absolute;
  top: 20.5%;
  left: 42%;
  border-radius: 50%;
  padding: 20px 20px;
  background-color: transparent;
  border: transparent;
}

.m {
  position: absolute;
  left: 84px;
  top : 251px;
  width: 268px;
  height: auto;
}

.s {
  position: absolute;
  left: 964px;
  top : 51px;
  width: 268px;
  height: auto;
}

.b {
  position: absolute;
  left: 84px;
  top : 413px;
  width: 163px;
  height: auto;
}

.bb {
  position: absolute;
  left: 964px;
  top : 213px;
  width: 163px;
  height: auto;
}
